div{
	border:0px solid;
	padding-top:10px ;
	padding-bottom:10px ;
	margin-bottom:10px;
	display:block;
	vertical-align:top;
	height:100%;
	background-color:silver;
}

section{
	display:table;
	width:100%;
	margin-bottom:100px;
}


.main-image{
	background-image:url("../images/road_empty_landscape_road.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;	
	padding-top:230px;
	text-align:center;

}

.details{
	display:table-cell;
	width:40%;
}
.about{
	display:table-cell;
	width:60%;
	
}
.profile-pic{
display:table-cell;
padding-right: 10px;
width:20%;
}
.profile-info{
display:table-cell;
}
.info{
	padding-top:0px;
	padding-right:20px;
	color:black;
	
	
}
.button{
	display:inline-block;
	color:black;
	text-decoration:none;
	border-radius:4px;
	padding:12px;
	text-align:center;
	background-color:silver;
	
}

.button a,a:visited, a:active 
{color:blue;
}

.button:hover{
background-color:gray;
box-shadow:2px 2px black;
}	
.basic-studies{
	display:table-cell;
	width:65%;
}
.sec-studies{
	display:table-cell;
	width:35%;
}
.footer{
display:table;
width:100%
}
.contact{
	display:table-cell;
	width:70%
}
.social{
	display:table-cell;
	width:30%
}

.innov {
	color :blue;
	
}



